<h1>
	<a class="btn btn-success w-100">Your order has been successfully processed</a>
</h1>
<a class="btn btn-danger" asp-action="ExportOrder" >Export Order</a>
<a class="btn btn-secondary" asp-action="Forward" asp-controller="Order">Back to restaurants</a>