<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2c894aa5-e309-4172-b752-05491dbbe756/resourcegroups/FoodDeliveryAppWeb20240627193225ResourceGroup/providers/Microsoft.Web/sites/FoodDeliveryManagementApp20240627204102</ResourceId>
    <ResourceGroup>FoodDeliveryAppWeb20240627193225ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fooddeliverymanagementapp20240627204102.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>158deefd-b55a-4d52-b666-ef3df4e33962</ProjectGuid>
    <MSDeployServiceURL>fooddeliverymanagementapp20240627204102.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FoodDeliveryManagementApp20240627204102</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$FoodDeliveryManagementApp20240627204102</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>